/* Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Display Font */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
/* Free  font-awesome 6.2*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
/* components*/
@import url("./variables.css");
@import url("../components/buttons.css");
@import url("../components/nav.css");
@import url("../components/shadow.css");
@import url("../components/borders.css");
@import url("../components/cards.css");

body{
    font-family: var(--default-font);
    color: var(--primary);
    background-color: #F9FAFF;
}

/* fonts */
p .display{
    font-size: var(--font-size-display);
    font-weight: var(--font-weight-regular);
}

p .display-title{
    font-size: var(--font-size-display-title);
    font-weight: var(--font-weight-regular);
}

h1{
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-regular);
}

h2{
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-regular);
}

h3{
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-light);
}

p{
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
}

p .body-light{
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-light);
}


/* icons */
.icon{
    height: 33px;
}