.detail{
    justify-content: space-around;
    margin-top: 0px;
    align-items: center
}

.button {
    display: flex;
    margin: 20px 0px;
}

.qty{
    margin-right: 20px;
}

@media screen and (max-width: 991px) {
    .text{
        margin-top: 50px;
    }
  }
