footer{
    margin-top: 100px;
}
.footer-link{
    padding-right: 20px;
}
footer a{
    display: inline-block;
}
footer .socialMedia{
    text-align: right;
}
footer .icon{
    padding-left: 20px;
}


@media only screen and (max-width: 992px) {
    footer{
        text-align: center;
    }
    .footer-link{
        display: block;
    }

    footer a{
        padding: 10px;
    }
    footer .socialMedia{
        text-align: center;
    }
  }



