footer{
    margin-top: 100px;
}
footer a{
    padding: 20px;
    display: inline-block;
}
footer .socialMedia{
    text-align: right;
}
footer .icon{
    padding: 0px;
}


@media only screen and (max-width: 992px) {
    footer{
        text-align: center;
    }
    .footer-link{
        display: block;
    }

    footer a{
        padding: 10px;
    }
    footer .socialMedia{
        text-align: center;
    }
  }



