.footer-link:hover{
    border-bottom: none;
}

.navbar-nav{
    flex-direction: row;

}

.footer{
    display: flex;
}

div#myRedDIV   {-webkit-order: 4;}
div#myBlueDIV  {-webkit-order: 2;}



@media only screen and (max-width: 768px) {
    .navbar-nav{
        flex-direction: column;
    }
    .footer{
        margin: auto;
        text-align: center;
        flex-direction: column-reverse;
    }
    .d-flex{
        justify-content: space-evenly !important;
    }
    .icon{
        padding-left: 0;
    }
    
  }