.footer-link:hover{
    border-bottom: none;
}

.navbar-nav{
    flex-direction: row;

}

.footer{
    display: flex;
    justify-content: space-between !important;
}


@media only screen and (max-width: 768px) {
    .navbar-nav{
        flex-direction: column;
    }
    .footer{
        margin: auto;
        text-align: center;
    }
    .d-flex{
        justify-content: space-evenly !important;
    }
    .icon{
        padding-left: 0;
    }
  }